-e git+ssh://git@github.com/rsouza01/astro-photometry.git@b71c6851440f610ada51ef32caaaafb1ad9b7269#egg=astro_photometry
astropy==8.0.1
astropy-iers-data==0.2026.7.6.1.1.20
numpy==2.5.1
packaging==26.2
pyerfa==2.0.1.5
PyYAML==6.0.3
